<%- include('layout.ejs') %>
<head>
    <link href="/stylesheets/desarrolladora.css" rel="stylesheet" type="text/css">
</head>
<main>
    <header>
        <h1><%= title %></h1>
    </header>
    <h2>Detalles de la desarrolladora: </h2>
    <h3>Pais de procedencia: <%= desarrolladora.pais %></h3>
</main>