<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
    <title>Document</title>
  </head>
  <body>
    <h1>Bienvenidos a mi pagina web</h1>
    <h2>De momento no tengo una landing page como tal</h2>
    <h2>Para visitar mi único proyecto deployeado apreten en este boton:</h2>
    <a href="/principal"><button>Apretame!</button></a>
  </body>
</html>
